@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
    font-family: 'Quicksand';
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Quicksand/Quicksand-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Quicksand/Quicksand-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Quicksand/Quicksand-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Belle Allure CE';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/BelleAllureCE/BelleAllureCE-Gros.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Apfel Grotezk';
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/ApfelGrotezk/ApfelGrotezk-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Apfel Grotezk';
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/ApfelGrotezk/ApfelGrotezk-Fett.woff2') format('woff2');
    font-display: swap;
}


:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: light dark;*/
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #242424;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.scroll-left {
    direction: ltr;
}

.scroll-left > * {
    direction: rtl;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #4D6B36 #85A754;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 8px;
    width: 8px;
    margin: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: #85A754;
    border: 0 solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
    background-color: #8FB45A;
}

*::-webkit-scrollbar-track:active {
    background-color: #8FB45A;
}

*::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #4D6B36;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #57793D;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #57793D;
}

a {
    font-weight: 500;
    /* color: #646cff; */
    text-decoration: inherit;
}

a:hover {
    /* color: #535bf2; */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    /* background-color: #1a1a1a; */
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    /* border-color: #646cff; */
}

button:focus,
button:focus-visible {
    /* outline: 4px auto -webkit-focus-ring-color; */
}

.card {
    padding: 2em;
}

#app {
    max-width: 1280px;
    min-width: 100vw;
    min-height: 100vh;
}

.loading-animation {
    animation-name: rotate;
    animation-duration: 1s;
    /* Durée totale de l'animation */
    animation-iteration-count: infinite;
    /* Boucle infinie */
    animation-timing-function: steps(16);
    /* Pas de transition entre les étapes */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.scaleButtonBg-enter-from,
.scaleButtonBg-leave-to {
    transform: scale(0) translateY(-100%);
    opacity: 0;
}

.scaleButtonBg-enter-active {
    transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1),
        opacity 0.2s ease-out;
}

.scaleButtonBg-leave-active {
    transition: transform 0.3s ease-out 0.2s,
        opacity 0.2s ease-out 0.3s;
}

.scaleButtonBg-enter-from .RoundButton,
.scaleButtonBg-leave-to .RoundButton {
    opacity: 0;
}

.scaleButtonBg-enter-active .RoundButton {
    transition: opacity 0.3s ease-out 0.2s;
}

.scaleButtonBg-leave-active .RoundButton {
    transition: opacity 0.3s ease-out;
}

.translateLeft-enter-from,
.translateLeft-leave-to {
    transform: translateX(50%);
    opacity: 0;
}

.translateRight-enter-from,
.translateRight-leave-to {
    transform: translateX(-50%);
    opacity: 0;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease-out;
}

.slide-enter-from {
    opacity: 0;
    transform: translateX(3%);
    /* transform-origin: right; */
}

.slide-leave-to {
    opacity: 0;
    transform: translateX(-3%);
    /* transform-origin: right; */
}

.slide-enter-active, .slide-leave-active {
    transition: opacity 0.5s cubic-bezier(0.22, 1, 0.36, 1), transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

@media (prefers-color-scheme: light) {
    :root {
        /* color: #213547; */
        /* background-color: #ffffff; */
    }

    a:hover {
        /* color: #747bff; */
    }

    button {
        /* background-color: #f9f9f9; */
    }
}

@layer base {
    html {
        @apply font-base text-primary;
    }

    h1, .heading-1 {
        @apply text-2xl font-title font-bold leading-none;
    }

    h2 {
        @apply text-xl font-bold;
    }

    h3, .heading-3 {
        @apply text-lg font-bold leading-snug;
    }

    h4 {
        @apply text-sm font-bold;
    }

    p {
        @apply text-md;
    }

    .p1 {
        @apply text-md;
    }

    .p2 {
        @apply text-sm;
    }

    a {
        @apply text-xs font-bold text-secondary;
    }

    button {
        @apply bg-secondary text-beige font-bold;
    }
}
